$blue: #08A6E4;
$green: #55DFB4;
$pink: #FB3B64;
$color-light-grey: #F7F7F7;
$color-primary-shadow: rgba(7, 172, 230, .16);
$color-white: #ffffff;
$color-grey: #A5A5A5;
$openSans: 'Open Sans', sans-serif;
$raleway: 'Raleway', sans-serif;