.pricing {
  .pricing__container {
    .pricing__title {
      font-family: $raleway;
      font-size: 36px;
      font-weight: 400;
      text-align: center;
    }
    .pricing__content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 40px;
      @media #{$media-mobile} {
        flex-direction: column;
      }

      .pricing__option {
        border: 1px solid #FB3B64;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 460px;
        width: 370px;
        position: relative;
        transition: 1s;
        @media #{$media-mobile} {
          margin-bottom: 4rem;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          height: 20rem;
        }
        .pricing__text {
          .option__title {
            font-family: $raleway;
            font-size: 21px;
            font-weight: 600;
            text-align: center;
            @media #{$media-mobile} {
              font-size: 2em;
            }
          }
          .option__price {
            font-size: 36px;
            font-weight: 300;
            color: $pink;
            margin-top: 0;
            text-align: center;
            @media #{$media-mobile} {
              font-size: 3em;
            }
          }
        }
        .pricing__list {
          .option__info {
            .option__info-yes {
              display: flex;
            }
          }
        }
        .pricing__btn {
          width: 150px;
          height: 50px;
          border-radius: 25px;
          background-color: $pink;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
          text-align: center;
          text-decoration: none;
          color: white;
          font-weight: 600;
          padding-top: 15px;
          transition: 1s;
          &:hover {
            box-shadow: 0 0 27px 2px $pink;
          }
        }
        &:hover {
          box-shadow: 5px 10px 27px $pink;
        }
      }

      .pricing__option2 {
        border: 1px solid #07ACE6;
        border-radius: 18px;
        height: 500px;
        width: 405px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        transition: 1s;
        @media #{$media-mobile} {
          margin-bottom: 4rem;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          height: 20rem;
        }
        .pricing__text {
          .option__title {
            font-family: $raleway;
            font-size: 21px;
            font-weight: 600;
            text-align: center;
          }

          .option__price2 {
            font-size: 36px;
            font-weight: 300;
            color: $blue;
            margin: 0;
            text-align: center;
          }

          .option__limited {
            font-family: $raleway;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 30px;
            text-align: center;
          }
        }
        .pricing__list {
          .option__info {
            .option__info-yes {
              display: flex;
            }
          }
        }
        .pricing__btn2 {
          width: 150px;
          height: 50px;
          border-radius: 25px;
          background-color: $blue;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
          text-align: center;
          text-decoration: none;
          color: white;
          font-weight: 600;
          padding-top: 15px;
          transition: 1s;
          &:hover{
            box-shadow: 0 0 27px 2px $blue;
          }
        }
        &:hover {
          box-shadow: 5px 10px 27px $blue;

        }
      }

      .pricing__option3 {
        border: 1px solid #55DFB4;
        border-radius: 18px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 460px;
        width: 370px;
        position: relative;
        transition: 1s;
        @media #{$media-mobile} {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
          height: 20rem;
        }

        .pricing__text {
          .option__title {
            font-family: $raleway;
            font-size: 21px;
            font-weight: 600;
            text-align: center;
          }

          .option__price3 {
            font-size: 36px;
            font-weight: 300;
            color: $green;
            margin: 0;
            text-align: center;
          }

          .option__limited {
            font-family: $raleway;
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 30px;
            text-align: center;
          }
        }
        .pricing__list {
          .option__info {
            .option__info-yes {
              display: flex;
            }
          }
        }
        .pricing__btn3 {
          width: 150px;
          height: 50px;
          border-radius: 25px;
          background-color: $green;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 50%);
          text-align: center;
          text-decoration: none;
          color: white;
          font-weight: 600;
          padding-top: 15px;
          transition: 0.5s;
          &:hover {
            box-shadow: 0 0 27px 2px $green;
          }
        }
        &:hover {
          box-shadow: 5px 10px 27px $green;
        }
      }
    }
  }
}















