.stats {
  height: 530px;
  @media #{$media-mobile} {
    height: 100%;
  }

  .stats__container {
    @media #{$media-mobile} {
      padding-right: 1.5rem;
    }

    .stats__title {
      font-family: $raleway;
      font-size: 36px;
      font-weight: 300;
      display: flex;
      justify-content: center;
      padding-top: 100px;
      text-align: center;
      @media #{$media-mobile} {
        padding-top: 0.5rem;
      }
    }

    .stats__content {
      margin-top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .stats__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 80px;
        margin-left: 80px;

        .stats__info-icons {
          display: flex;
          margin-left: -20px;

          .stats__info-image {
            margin: -30px;
            z-index: 99;
          }

          .stats__info-circle {
            height: 60px;
            width: 60px;
            background: $pink;
            border-radius: 30px;
          }

          .stats__info-circle2 {
            height: 60px;
            width: 60px;
            background: $blue;
            border-radius: 30px;
          }

          .stats__info-circle3 {
            height: 60px;
            width: 60px;
            background: $green;
            border-radius: 30px;
          }

        }
        .stats__info-number {
          font-family: $raleway;
          font-size: 20px;
          font-weight: 800;
          letter-spacing: 6px;
        }

        .stats__info-text {
          font-family: $raleway;
          font-size: 17px;
          font-weight: 300;
          color: #A5A5A5;
        }
      }
    }
  }
}






